.listing-content, .quotes-wrapper{
    margin-top: 15px;
}


.quotes-list {
    background-color: #f6f6f6;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 4px;
    min-height: 80vh;
    h5 {
        text-align: center;
        font-size: 24px;
        font-weight: 900 !important;
    }
}

.quotes-cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.quote-card {
    padding: 15px;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 1px 2px 8px #c4c4c4;
    position: relative;
    &:hover {
        box-shadow: 1px 2px 14px #888888;
    }
}

:host ::ng-deep .dropdown-menu {
    display: inherit !important;
}

@media (max-width: 1024px) {
    .quotes-cards-list {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .quotes-cards-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

.quote-details {
    padding: 25px;
}