<ng-container *ngIf="mode==modes.addQuote">
  <section class="row header">
    <div class="col-sm-12">
      <label>New Quote</label>
      <button class="btn btn-success float-right" (click)="setMode(modes.listing)">Back</button>
    </div>
  </section>
  <section class="schedule-content">
    <rb-calls-quotes-form [mode]="callsQuotesMode" [adminMode]="true" (submitted)="quoteSubmitted($event)"></rb-calls-quotes-form>
  </section>
</ng-container>

<ng-container *ngIf="mode==modes.msg">
  <section class="row msg">
    <div class="col-sm-12">
      <button class="btn btn-success float-right" (click)="setMode(modes.listing)">Back</button>
    </div>
  </section>
  <message [text]="'Saved Successfully'"></message>
</ng-container>

<ng-container *ngIf="mode==modes.listing">
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-primary filters-toggle-btn pull-right" (click)="setMode(modes.addQuote)">Add New Quote</button>
    </div>
  </div>

  <div class="row no-gutters">
    <loader *ngIf="loading"></loader>
    <ng-container *ngIf="!loading">
      <div class="col-sm-6">
        <quotes-listing [quotes]="quotes" (quoteSelected)="quoteSelected($event)"></quotes-listing>
      </div>
      <div class="col-sm-6">
        <ng-container>
          <p-scrollPanel [style]="{width: '100%', height: '100vh', marginTop: '35px'}" styleClass="custom-scrollbar">
            <div class="quote-details" *ngIf="quotes && quotes.length > 0">
              <quote-details [quote]="selectedQuote"></quote-details>
            </div>
          </p-scrollPanel>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
