<loader *ngIf="loaders.length > 0"></loader>

<ng-container *ngIf="loaders.length == 0">
  <!-- Settings -->
  <section>

    <div class="row">
      <div class="form-group">
        <label>Work Days: </label>
        <!-- todo: make them in one row -->
        <div *ngFor="let day of days" class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" (click)="toggleCheck(day)" [checked]="day.checked" [value]="day.id"> {{day.day}}
          </label>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-sm-6 input-group">From
        <span class="input-group-addon">h</span>
        <input type="text" number [max-number]="12" [min-number]="1" class="form-control" placeholder="h" [(ngModel)]="settings.workHours.from.h">
        <span class="input-group-addon">min</span>
        <input type="text" number [max-number]="12" [min-number]="1" class="form-control" placeholder="min" [(ngModel)]="settings.workHours.from.min">
        <span class="input-group-addon"></span>
        <select class="form-control" name="time" [(ngModel)]="settings.workHours.from.amPm">
          <option [ngValue]="1">{{'am'}}</option>
          <option [ngValue]="2">{{'pm'}}</option>
        </select>
      </div>

      <div class="col-sm-6 input-group">To
        <span class="input-group-addon">h</span>
        <input type="text" number [max-number]="12" [min-number]="1" class="form-control" placeholder="h" [(ngModel)]="settings.workHours.to.h">
        <span class="input-group-addon">min</span>
        <input type="text" number [max-number]="12" [min-number]="1" class="form-control" placeholder="min" [(ngModel)]="settings.workHours.to.min">
        <span class="input-group-addon"></span>
        <select class="form-control" name="time" [(ngModel)]="settings.workHours.to.amPm">
          <option [ngValue]="1">{{'am'}}</option>
          <option [ngValue]="2">{{'pm'}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <label>time span for appointments</label>
      <input type="number" min="0" class="form-control" placeholder="time span for appointments" [(ngModel)]="settings.timeSpan">
    </div>

    <button class="btn btn-primary btn-lg" (click)="saveAppointmentSettings()">save</button>
  </section>
  <br/>
  <br/>
  <br/>
  <!-- appointment types -->
  <section>
    <button (click)="openAddEditTypePopup(addEditPopup)">add new type</button>

    <table class="table">
      <thead>
        <th>name</th>
        <th>edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr *ngFor="let type of types">
          <td>{{type.name}}</td>
          <td>
            <button (click)="openAddEditTypePopup(addEditPopup, type)">edit</button>
          </td>
          <td>
            <button (click)="deleteType(type)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #addEditPopup let-c="close">
      <div class="modal-header">
        <h4 class="modal-title">{{addEditType.id == null ? 'New appointment type' : 'Edit appointment type'}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c(); addEditType={}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name" class="">Name
            <i *ngIf="true">*</i>
          </label>
          <input type="text" name="name" class="form-control" placeholder="appointment type name.." [(ngModel)]="addEditType.name"
          />
        </div>
        <div class="form-group">
          <label for="description" class="">Description</label>
          <input type="text" name="description" class="form-control" placeholder="appointment type description.." [(ngModel)]="addEditType.description"
          />
        </div>

        <div class="col-md-12">
          <button type="submit" (click)="saveAppointmentType()" class="btn btn-success">Save</button> &nbsp;
          <button type="reset" (click)="c(); addEditType = {}" class="btn btn-danger">Cancel</button>
        </div>
      </div>

    </ng-template>

  </section>

</ng-container>
