<section class="register">
  <div class="register-container">
    <div class="container">
      <form [formGroup]="appointmentForm" novalidate>
        <div class="row">
          <div class="col-md-12">
            <h3>Schedule Appointment</h3>
          </div>
          <ng-container *ngIf="!isLoggedIn">
            <div class="col-md-6">
              <div class="form-group">
                <label for="fullName" class="">Full Name
                  <i *ngIf="getControlValidation('fullName','required')">*</i>
                </label>
                <input type="text" name="fullName" class="form-control" formControlName="fullName" [(ngModel)]="appointment.fullName" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email" class="">Email
                  <i *ngIf="getControlValidation('email','required')">*</i>
                </label>
                <input type="email" name="email" class="form-control" placeholder="ex: exmple@domain.com" formControlName="email" [(ngModel)]="appointment.email"
                />
                <span class="error-message" *ngIf="getControlValidation('email','email', false)">Please enter a valid email</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="mobile" class="">Mobile
                  <i *ngIf="getControlValidation('mobile','required')">*</i>
                </label>
                <input type="tel" name="mobile" class="form-control" formControlName="mobile" [(ngModel)]="appointment.mobile" />
              </div>
            </div>
          </ng-container>

          <div class="col-md-6">
            <div class="form-group">
              <label for="date" class="">Pick a date
                <i *ngIf="getControlValidation('date','required')">*</i>
              </label>
              <input class="form-control" placeholder="yyyy-mm-dd" name="date" formControlName="date" [(ngModel)]="appointment.date" ngbDatepicker
                #d="ngbDatepicker">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
              </button>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
                <label for="time" class="">Pick a time
                    <i *ngIf="getControlValidation('time','req')">*</i>
                  </label>
                  <select name="time" formControlName="time" [(ngModel)]="appointment.time">
                    <option disabled value="-1" selected>select time</option>
                    <option value="1">8:00 am</option>
                    <option value="2">8:30 am</option>
                    <option value="3">9:00 am</option>
                  </select>
            </div>
          </div>



          <div class="col-md-6">
            <div class="form-group">
              <label for="appointmentType" class="">Appointment Type
                <i *ngIf="getControlValidation('appointmentType','req')">*</i>
              </label>
              <select name="appointmentType" formControlName="appointmentType" [(ngModel)]="appointment.appointmentType">
                <option disabled selected value="-1">select Type</option>
                <option value="1">type 1</option>
                <option value="2">type 2</option>
                <option value="3">type 3</option>
              </select>
            </div>
          </div>

          <div class="col-md-12">
            <div>
              <p>Please be informed that appointment will not be scheduled until a representative from the office contacts you
                via email</p>

            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" (click)="scheduleAppointment()" class="btn btn-success">Send</button> &nbsp;
            <button type="reset" (click)="resetForm()" class="btn btn-danger">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.registeration-container -->
</section>
<!-- /.registeration -->
