<div class="quotes-btns">
    <span (click)="quotes.toggle($event)">
        <i pTooltip="Related Quotes" tooltipPosition="left" [appendTo]="'body'" class="fa fa-calculator"></i>
    </span>
    <span *ngIf="permissions.attachQuote" (click)="openQuoteQuickAdd(quoteQuickAdd)">
        <i pTooltip="Request Quote" tooltipPosition="left" [appendTo]="'body'" class="fa fa-plus"></i>
    </span>
</div>


<div class="row">
    <div class="col-4">
        <label>
            <b>Customer Name</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.customerName}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Call Date</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.date | date:'MMM dd yyyy HH:mm a'}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Address</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.address}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Email</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.email}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Tel. (Mobile)</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.mobile}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Description</b>
        </label>
    </div>
    <div class="col-8">
        <p>{{mappedCall.message}}</p>
        <!-- <span class="limit-text" [class.show-more]="showMoreText">{{mappedAppointment?.message}}</span>
    <button *ngIf="mappedAppointment?.message && mappedAppointment?.message.length > 26 && !showMoreText" (click)="showMoreText=true"
      class="btn btn-link txt-btn">see more</button>
    <button *ngIf="mappedAppointment?.message && mappedAppointment?.message.length > 26 && showMoreText" (click)="showMoreText=false"
      class="btn btn-link txt-btn">see less</button> -->
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Call Rate</b>
        </label>
    </div>
    <div class="col-8">
        <ngb-rating class="rating-call" [max]="5" [(rate)]="mappedCall.rate" [readonly]="true"></ngb-rating>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Images</b>
        </label>
    </div>
    <div class="col-8">
        <p-lightbox [images]="mappedCall.images" styleClass="call-details-lightbox" appendTo="body"></p-lightbox>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Assignees</b>
        </label>
    </div>
    <div class="col-8">
        <ul class="tags">
            <li class="tagg" *ngFor="let assignee of mappedCall.assignees">
                {{assignee.technician.firstName + ' ' + (assignee.technician.lastName ? assignee.technician.lastName: '')}}
                <span *ngIf="permissions.updateAssignees" (click)="removeAssignee(assignee)">x</span>
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="row assigne-sec" *ngIf="permissions.updateAssignees">
    <div class="col-sm-12">
        <p-scrollPanel [style]="{width: '100%', height: '100px'}">
            <div class="flex" *ngFor="let tech of mappedTechnicians">
                <div [pTooltip]="tech?.status | technicianStatusTxt" tooltipPosition="top">
                    <span class="appointemt-status" [ngClass]="tech?.status | technicianStatusColor"></span>
                    <span>{{tech?.technician.name}}</span>
                </div>
                <div class="ml-auto">
                    <span pTooltip="Calls Details" tooltipPosition="top" class="fa fa-info-circle pointer" (click)="openTechCallsDetails(tech, technicianCalls, $event)"></span>
                    <span pTooltip="Assign" tooltipPosition="top" class="fa fa-plus pointer" (click)="assign(tech)"></span>
                </div>
            </div>
        </p-scrollPanel>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <div *ngIf="permissions.checkIn" class="check-in">
            <button (click)="openCheckInMap(call, checkInMap)" class="btn btn-primary filters-toggle-btn ">
                <i class="fa fa-sign-in" aria-hidden="true"></i> check in
            </button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="appointemt-last-checkin">
            <span>
            <b>last check-in:</b> {{call.checkInDetails ? (call.checkInDetails.date | date:'MMM dd yyyy HH:mm a') : 'No one
            checked-in'}}
        </span>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <comments [objectId]="call.id" [objectType]="objectType"></comments>
    </div>
</div>

<p-overlayPanel [appendTo]="'body'" #technicianCalls>
    <div *ngIf="selectedtech">
        <span *ngFor="let techCall of selectedtech.calls">{{techCall?.time}}</span>
        <no-data *ngIf="!selectedtech.calls || selectedtech.calls.length == 0" [message]="'No Calls Might Overlap'"></no-data>
    </div>
</p-overlayPanel>

<p-overlayPanel [appendTo]="'body'" #quotes>
    <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let quote of mappedCall.quotes">
            <p-header>
                #{{quote.status | QuoteStatusTxt}}
                <b>{{' (' + quote.total + ')'}}</b>
            </p-header>

            <table *ngIf="quote.estimateFields && quote.estimateFields.length > 0" class="table table-bordered table-scrollable">
                <thead>
                    <th>#</th>
                    <th>Description</th>
                    <th>Estimate</th>
                </thead>
                <tbody>
                    <tr *ngFor="let field of quote.estimateFields; let i = index">
                        <td>{{i+1}}</td>
                        <td class="text-center">{{field.desc}}</td>
                        <td class="text-center">{{field.cost}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!quote.estimateFields || quote.estimateFields.length == 0">Quote Hasn't been Estimated Yet</div>
        </p-accordionTab>
    </p-accordion>
    <no-data *ngIf="!mappedCall.quotes || mappedCall.quotes.length==0" [message]="'No Quotes Attached'"></no-data>
</p-overlayPanel>



<ng-template #quoteQuickAdd let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Attach Quote</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeQuoteQuickAdd()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <rb-quote-quick-add (submitted)="quickAddQuoteSubmitted($event)" (close)="closeQuoteQuickAdd()"></rb-quote-quick-add>
    </div>

</ng-template>

<overlay-loader *ngIf="overlayLoading"></overlay-loader>



<ng-template #checkInMap let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Current Location</h5>
        <button type="button" class="close" aria-label="Close" (click)="c()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="map-container">
            <agm-map [latitude]="mapMarker.lat" [longitude]="mapMarker.lng" [zoom]="15" [disableDefaultUI]="false" [zoomControl]="true">
                <agm-marker [latitude]="mapMarker.lat" [longitude]="mapMarker.lng" [label]="mapMarker.label" [markerDraggable]="mapMarker.draggable" (dragEnd)="markerDragEnd(m, $event)">
                    <agm-info-window>
                        <strong>Your Location</strong>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>

        <button class="btn btn-primary" (click)="checkIn()">Check in</button>
    </div>

</ng-template>