<div class="quotes-btns">
    <span (click)="quotes.toggle($event)">
        <i class="fa fa-calculator"></i>
    </span>
    <span (click)="openQuoteQuickAdd(quoteQuickAdd)">
        <i class="fa fa-plus"></i>
    </span>
</div>


<div class="row">
    <div class="col-4">
        <label>
            <b>Customer Name</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.customerName}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Call Date</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.date | date:'MMM dd yyyy HH:mm a'}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Address</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.address}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Email</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.email}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Tel. (Mobile)</b>
        </label>
    </div>
    <div class="col-8">
        <span>{{mappedCall?.mobile}}</span>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Description</b>
        </label>
    </div>
    <div class="col-8">
        <p>{{mappedCall.message}}</p>
        <!-- <span class="limit-text" [class.show-more]="showMoreText">{{mappedAppointment?.message}}</span>
    <button *ngIf="mappedAppointment?.message && mappedAppointment?.message.length > 26 && !showMoreText" (click)="showMoreText=true"
      class="btn btn-link txt-btn">see more</button>
    <button *ngIf="mappedAppointment?.message && mappedAppointment?.message.length > 26 && showMoreText" (click)="showMoreText=false"
      class="btn btn-link txt-btn">see less</button> -->
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Images</b>
        </label>
    </div>
    <div class="col-8">
        <p-lightbox [images]="mappedCall.images" styleClass="call-details-lightbox" appendTo="body"></p-lightbox>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <label>
            <b>Assignees</b>
        </label>
    </div>
    <div class="col-8">
        <ul class="tags">
            <li class="tagg" *ngFor="let assignee of mappedCall.assignees">
                {{assignee.technician.firstName + ' ' + (assignee.technician.lastName ? assignee.technician.lastName: '')}}
                <span *ngIf="!isReadOnly" (click)="removeAssignee(assignee)">x</span>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <p-scrollPanel [style]="{width: '100%', height: '100px'}">
        <div *ngFor="let tech of mappedTechnicians">
            <div [pTooltip]="tech?.status | technicianStatusTxt" tooltipPosition="top">
                <span class="appointemt-status" [ngClass]="tech?.status | technicianStatusColor"></span>
                <span>{{tech?.technician.name}}</span>
            </div>
            <div>
                <span pTooltip="Calls Details" tooltipPosition="top" class="fa fa-info-circle pointer" (click)="openTechCallsDetails(tech, technicianCalls, $event)"></span>
                <span pTooltip="Assign" tooltipPosition="top" class="fa fa-plus pointer" (click)="assign(tech)"></span>
            </div>
        </div>
    </p-scrollPanel>
</div>

<p-overlayPanel [appendTo]="'body'" #technicianCalls>
    <div *ngIf="selectedtech">
       <span *ngFor="let techCall of selectedtech.calls">{{techCall?.time}}</span>
       <no-data *ngIf="!selectedtech.calls || selectedtech.calls.length == 0" [message]="'No Calls This Day'"></no-data>
    </div>
</p-overlayPanel>

<p-overlayPanel [appendTo]="'body'" #quotes>
    <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let quote of mappedCall.quotes">
            <p-header>
                Header Content
            </p-header>

            <table class="table table-bordered table-scrollable">
                <thead>
                    <th>#</th>
                    <th>Description</th>
                    <th>Estimate</th>
                </thead>
                <tbody>
                    <tr *ngFor="let field of quote.estimateFields; let i = index">
                        <td>{{i+1}}</td>
                        <td class="text-center">{{field.desc}}</td>
                        <td class="text-center">{{field.cost}}</td>
                    </tr>
                </tbody>
            </table>
        </p-accordionTab>
    </p-accordion>
</p-overlayPanel>



<ng-template #quoteQuickAdd let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Attach Quote</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeQuoteQuickAdd()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <rb-quote-quick-add (submitted)="quickAddQuoteSubmitted($event)" (close)="closeQuoteQuickAdd()"></rb-quote-quick-add>
    </div>

</ng-template>

<overlay-loader *ngIf="overlayLoading"></overlay-loader>