proxy_cache_path /etc/nginx/cache levels=1:2 keys_zone=s3_cache:10m max_size=10g inactive=60m use_temp_path=off

server {
    listen 80;
    server_name ec2-18-223-214-25.us-east-2.compute.amazonaws.com;

    location / {
        proxy_cache s3_cache;
        proxy_cache_revalidate on;
        proxy_cache_min_uses 3;
        proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
        proxy_cache_background_update on;
        proxy_cache_lock on;
        proxy_pass http://reliable-frontend.s3-website.us-east-2.amazonaws.com/;
    }
    
    location ~ ^/(api|files|socket.io)/ {
        proxy_pass ec2-13-58-112-59.us-east-2.compute.amazonaws.com;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
    location /socket.io {
        proxy_pass ec2-13-58-112-59.us-east-2.compute.amazonaws.com;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
    
}