<loader *ngIf="loading"></loader>

<ng-container *ngIf="showMsg">
    <div class="full-height">
        <message [text]="'Registered Successfully'"></message>
    </div>

</ng-container>
<ng-container *ngIf="!showMsg">

    <section class="schedule-sec">
        <div class="container schedule-form">
            <section class="register">
                <div class="register-container">
                    <div class="container">
                        <ng-container *ngIf="showSteps">
                            <p-steps [model]="steps" styleClass="steps-custom" [activeIndex]="activeIndex"></p-steps>
                        </ng-container>

                        <ng-container *ngIf="activeIndex==0">
                            <dynamic-form [controlsCofig]="basicInfoControls" [user]="user"></dynamic-form>
                        </ng-container>

                        <ng-container *ngIf="activeIndex==1">
                            <div *ngFor="let site of user.sites; let i = index">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="user-site">
                                            <span>
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                {{site.street + ' - ' + site.city + ' - ' + site.state}}
                                            </span>
                                            <div class="user-site-btns">
                                                <a (click)="deleteSite(i)" class="btn btn-link error-message">Delete</a>
                                                <a (click)="editSite(i)" class="btn btn-link">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <dynamic-form [controlsCofig]="[{type: 7}]" [user]="user"></dynamic-form>
                            <button class="btn btn-success" (click)="addUserSite()">Add Site</button>
                            <button class="btn btn-primary" (click)="initNewSite()">New Site (Address)</button>
                        </ng-container>

                        <!-- <h4 *ngIf="!isValid">Some fields are required or invalid, please complete all form data</h4> -->
                        <div class="text-center reg-btns">
                            <button *ngIf="activeIndex==1 || !showSteps" type="submit" [disabled]="false" (click)="save()" class="btn btn-success">Save</button> &nbsp;
                            <button *ngIf="activeIndex==0 && showSteps" type="submit" [disabled]="false" (click)="nextStep()" class="btn btn-primary">Next</button> &nbsp;
                            <button *ngIf="activeIndex==1 && showSteps" type="submit" [disabled]="false" (click)="activeIndex = 0" class="btn btn-primary">Back</button> &nbsp;
                        </div>
                    </div>
                </div>
                <!-- /.registeration-container -->
            </section>
            <!-- /.registeration -->
        </div>
    </section>
</ng-container>