.display-block {
    display: block;
}

.passwordInfoPopover {
    p,
    li {
        color: white;
    }
}

:host ::ng-deep .password-input-group {
    .popover-body {
        background-color: black;
        color: white;
    }
    .arrow:after {
        border-top-color: black !important;
    }
    
}

.full-height {
    min-height: 80vh;
}

.user-site {
    padding: 6px 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    &:first-child {
        margin-top: 10px;
    }
    >span {
        padding-top: 6px;
    }
    .user-site-btns {
        margin-left: auto
    }
}

span.error-message {
    display: block;
    line-height: 34px;
}

.reg-btns {
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    button {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .reg-btns {
        button {
            width: 100px;
        }
    }
}