.filters-container {
    background-color: #f6f6f6;
    padding: 20px;
    margin-top: 15px;
}

.filters-toggle-btn {
    background: #40a4df;
    border-color: #40a4df;
    border-radius: 0;
    outline: none;
    i {
        margin-right: 5px;
    }
}
