<section>
    <div class="">
        <button class="btn btn-primary filters-toggle-btn pointer" type="button" data-toggle="collapse" data-target="#filter-toggle" aria-expanded="false" aria-controls="filter-toggle">
      <i class="fa fa-filter" aria-hidden="true"></i>filters
    </button>
        <div class="filters-container collapse" id="filter-toggle">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <h5>select Range Dates</h5>
                        <div>
                            <multi-select-datepicker [dates]="filterDates" (datesChanged)="updateDates($event)"></multi-select-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-primary filters-toggle-btn pull-right" (click)="filter()">Filter</button>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <section class="appointemts-sec" class="col-sm-12">
                    <loader *ngIf="loading"></loader>
                    <!-- appointments Listing -->
                    <ng-container *ngIf="!loading">
                        <br />
                        <calls-listing [dates]="filterDates" [calls]="calls"></calls-listing>
                    </ng-container>
                </section>
            </div>
        </div>
    </div>
</section>

