<loader *ngIf="loading"></loader>

<div class="row">
  <div class="col-sm-12">

    <button *ngIf="mode != modes.history" class="btn btn-primary pull-right" (click)="setMode(modes.history)">Back</button>
  </div>
</div>

<ng-container *ngIf="mode==modes.addQuote">
  <rb-calls-quotes-form [mode]="callsQuotesMode" (submitted)="quoteSubmitted($event)"></rb-calls-quotes-form>
</ng-container>

<ng-container *ngIf="mode==modes.addCall">
  <div class="row container">
    <div class="col quote-falt-card">
      <div>
        <b>{{selectedQuote.type.name}}</b>
      </div>
      <div>
        <label>Total Estimation </label>
        <b>({{selectedQuote.totalEstimate}})</b>
      </div>
    </div>

  </div>

  <rb-calls-quotes-form [mode]="callsQuotesMode" (submitted)="callSubmitted($event)"></rb-calls-quotes-form>
</ng-container>

<ng-container *ngIf="mode==modes.msg">
  <message [text]="'Saved Successfully'"></message>
</ng-container>

<ng-container *ngIf="!loading&&mode==modes.history">

  <section class="listing-content">

    <button *ngIf="mode != modes.addQuote" class="btn btn-success pull-right" (click)="setMode(modes.addQuote)">Request New Quote</button>

    <ngb-tabset type="pills">
      <ngb-tab *ngFor="let tab of tabs" [title]="tab.text + ' (' + mappedQuotes[tab.id].length + ')'" [id]="tab.id">
        <ng-template ngbTabContent>

          <div class="quotes-list">

            <div class="quotes-cards-list">
              <div class="quote-card pointer" *ngFor="let quote of mappedQuotes[tab.id]" (click)="openQuoteDetailsModal(quote)">
                <h6>
                  <b>{{quote.fullName}}</b>
                </h6>
                <div>
                  <b>{{quote.type.name}}</b>
                </div>
                <div *ngIf="quote.totalEstimate != null">
                  <label>Total Estimation </label>
                  <b>({{quote.totalEstimate}})</b>
                  <button *ngIf="quote.status == statusEnum.Approved" (click)="$event.stopPropagation(); setMode(modes.addCall, quote)" class="btn btn-success btn-sm pull-right">Schedule Call</button>
                </div>
              </div>
            </div>

          </div>

        </ng-template>
      </ngb-tab>

    </ngb-tabset>
  </section>
</ng-container>




<ng-template #quoteDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Quote Details</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeQuoteDetailsModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <rb-quote-details [quote]="selectedQuote" (quoteUpdated)="quoteUpdated($event)" (close)="closeQuoteDetailsModal()"></rb-quote-details>
  </div>

</ng-template>