/* You can add global styles to this file, and also import other style files */

.modal-content {
    margin-top: 110px;
}

.pointer {
    cursor: pointer;
}

.dropdown-menu {
    display: inherit !important;
}

button {
    cursor: pointer;
    border-radius: 0 !important;
}

a {
    cursor: pointer;
}

.navbar-toggler-icon {
    color: #fff;
    font-size: 30px;
    padding: 10px 0px;
}

select {
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
}

.fa-calendar {
    color: #fff !important;
}

.date-picker-cont {
    .form-control {
        display: inline-block;
        width: calc(100% - 69px);
    }
    button {
        display: inline-block;
    }
}

.ngb-dp-header {
    .btn-link {
        cursor: pointer;
        outline: 0;
        padding: 3px 11px !important;
    }
}

.appointemt-status {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: inherit;
}

.appointemt-status.pending {
    background-color: #d1c8e3;
}

.appointemt-status.confirmed {
    background-color: #719ad2;
}

.appointemt-status.not-available {
    background-color: #93745f;
}

.appointemt-status.rejected {
    background-color: #FF3B30;
}

.greenBg {
    background-color: green;
}

.blueBg {
    background-color: #719ad2;
}

.redBg {
    background-color: #FF3B30;
}

.grayBg {
    background-color: #d1c8e3;
}


/* general styles for map */

.map-container {
    margin-bottom: 20px;
}

.agm-map-container-inner {
    width: 100% !important;
    height: 300px !important;
}

rb-technicians-tracking .agm-map-container-inner {
    width: 100% !important;
    height: 83vh !important;
}