.fields-btns {
    align-content: center;
    & .fa {
        cursor: pointer;
    }
    & .fa-2 {
        font-size: 2em
    }
    & .fa-plus {
        color: green;
    }
    & .fa-times {
        color: red;
    }
}

.call-gallery {
    margin-bottom: 10px;
    width: 98%;
    height: 165px;
}

:host ::ng-deep {
    .call-gallery {
        img {
            width: 100px;
            height: 100px;
        }
    }
    .ui-carousel-item {
        width: 100px !important;
        height: 100px;
    }

    .ui-carousel-page-links{
        display: none;
    }

    .ui-carousel-header.ui-widget-header.ui-corner-all{
        height: 20px !important;
        padding: 2px 10px 0 0 !important;
    }
}