<loader *ngIf="loading"></loader>

<ng-container *ngIf="!loading">
  <div class="row">
    <div class="col-md-3">
      <label>
        <b>Name</b>
      </label>
    </div>
    <div class="col-md-8">
      <span>{{mappedQuote?.fullName}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>
        <b>Address</b>
      </label>
    </div>
    <div class="col-md-8">
      <span>{{mappedQuote?.address}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>
        <b>Contact</b>
      </label>
    </div>
    <div class="col-md-8">
      <span>{{mappedQuote?.contact}}</span>
    </div>
  </div>

  <div class="row">
    <label class="col-md-3">
      <b>Description</b>
    </label>
    <div class="col-md-8">
      <p>{{mappedQuote.message}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <label>
        <b>Images</b>
      </label>
    </div>
    <div class="col-8">
      <p-lightbox [images]="mappedQuote.images" styleClass="quote-details-lightbox" appendTo="body" effectDuration="500ms"></p-lightbox>
    </div>
  </div>

  <div class="row estimates-wrapper container table-responsive">

    <table class="table table-bordered table-scrollable">
      <thead>
        <th>#</th>
        <th>Description</th>
        <th>Estimate</th>
        <th *ngIf="permissions.updateQuoteEstimate"></th>
      </thead>
      <tbody>
        <tr *ngFor="let field of estimates.fields; let i = index">
          <td>{{i+1}}</td>
          <ng-container *ngIf="permissions.updateQuoteEstimate">
            <td>
              <textarea class="form-control" [(ngModel)]="field.desc"></textarea>
            </td>
            <td>
              <input type="text" number class="form-control" [(ngModel)]="field.cost" (change)="sumFields()" />
            </td>
            <td *ngIf="permissions.updateQuoteEstimate" class="fields-btns">
              <span *ngIf="i<estimates.fields.length-1" (click)="removeField(i)" class="fa fa-times fa-2" aria-hidden="true" title="Remove Field"></span>
              <span *ngIf="i==estimates.fields.length-1" (click)="addAnotherField()" class="fa fa-plus fa-2" aria-hidden="true" title="Add Another field"></span>
            </td>
          </ng-container>
          <ng-container *ngIf="!permissions.updateQuoteEstimate">
            <td class="text-center">{{field.desc}}</td>
            <td class="text-center">{{field.cost}}</td>
          </ng-container>
        </tr>
        <tr>
          <td colspan="2" class="text-center">
            <b>Total</b>
          </td>
          <td colspan="2" class="text-center">
            <b>{{estimates.total}}</b>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="row" *ngIf="permissions.collaborate">
    <div class="col-12">
      <comments [objectId]="quote.id" [objectType]="objectType"></comments>
    </div>
  </div>

  <ng-container *ngIf="mappedQuote.actions && mappedQuote.actions.length > 0">
    <button *ngFor="let action of mappedQuote.actions" class="btn" [ngClass]="action.cssClass" [disabled]="action.status == statusEnum.Open && estimates.fields.length<=1"
      (click)="save(action.status)">{{action.label}}</button>
  </ng-container>
  <button class="btn" (click)="closeModal()">Cancel</button>
</ng-container>