.fields-btns {
    align-content: center;
    & .fa {
        cursor: pointer;
    }
    & .fa-2 {
        font-size: 2em
    }
    & .fa-plus {
        color: #28a745;
    }
    & .fa-trash {
        color: #c82333;
    }
}

.call-gallery {
    margin-bottom: 10px;
    width: 98%;
    height: 165px;
}

:host ::ng-deep {
    .quote-details-lightbox img {
        padding-bottom: 3px;
    }
}