.no-data {
    position: relative;
    margin: 0 auto;
    background-color: #dddddd;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin: 0 15px;
    text-align: center;
    .icon {
        font-size: 55px;
        vertical-align: middle;
        padding-right: 5px;
    }
    .text {
        text-transform: capitalize;
        font-size: 25px;
        vertical-align: middle;
    }
}