:host::ng-deep {
    .status-tabs {
        .nav-link {
            border: 1px solid #b1b1b1;
            background: #f6f7f9;
            color: black;
            &.active {
                box-shadow: 0 -3px 0 0;
                border-bottom-color: #fff;
                background: #fff;
                font-weight: bold;
            }
        }
        .green {
            color: green;
        }
        .red {
            color: red;
        }
    }
}

.status-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
}

li {
    &:before {
        right: 17px;
        left: inherit;
    }
    .dropdown {
        display: inline-block;
        button {
            padding: 0 2px;
            height: 18px;
            margin-left: 5px;
        }
    }
}

.no-data-tab {
    width: 95%;
    margin-top: 100px;
}