
<div class="admin-panel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-123 side-menu">
                <ul class="list-group">
                    <li *ngIf="tabs.scheduleManagement.hasPermission" class="list-group-item pointer" [routerLink]="['./schedule-management']" [class.selected]="currentSelectedTab == tabs.scheduleManagement.index" (click)="currentSelectedTab = tabs.scheduleManagement.index"><i class="fa fa-calendar" aria-hidden="true"></i> Schedule Management</li>
                    <li *ngIf="tabs.settings.hasPermission" class="list-group-item pointer" [routerLink]="['./appointment-settings']" [class.selected]="currentSelectedTab == tabs.settings.index" (click)="currentSelectedTab = tabs.settings.index"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Appointment Settings & Types</li>
                    <li *ngIf="tabs.systemUsers.hasPermission" class="list-group-item pointer" [routerLink]="['./system-users-management']" [class.selected]="currentSelectedTab == tabs.systemUsers.index" (click)="currentSelectedTab = tabs.systemUsers.index"><i class="fa fa-user" aria-hidden="true"></i> System Users</li>
                    <li *ngIf="tabs.users.hasPermission" class="list-group-item pointer" [routerLink]="['./users-management']" [class.selected]="currentSelectedTab == tabs.users.index" (click)="currentSelectedTab = tabs.users.index"><i class="fa fa-user" aria-hidden="true"></i> Users</li>
                    <li *ngIf="tabs.myAppointments.hasPermission" class="list-group-item pointer" [routerLink]="['./my-appointments']" [class.selected]="currentSelectedTab == tabs.myAppointments.index" (click)="currentSelectedTab = tabs.myAppointments.index"><i class="fa fa-list-ol" aria-hidden="true"></i> My Appointments</li>
                    <li *ngIf="tabs.tracking.hasPermission" class="list-group-item pointer" [routerLink]="['./technicians-tracking']" [class.selected]="currentSelectedTab == tabs.tracking.index" (click)="currentSelectedTab = tabs.tracking.index"><i class="fa fa-briefcase" aria-hidden="true"></i> Technicians Tracking</li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-129 panel-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
