<button (click)="openAddEditTypePopup(addEditPopup)">add new type</button>

<table class="table">
  <thead>
    <th>name</th>
    <th>edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let type of types">
      <td>{{type.name}}</td>
      <td>
        <button (click)="openAddEditTypePopup(addEditPopup, type)">edit</button>
      </td>
      <td>
        <button (click)="deleteType(type)">delete</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #addEditPopup let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">{{addEditType.id == null ? 'New appointment type' : 'Edit appointment type'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c(); addEditType={}">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="">Name
        <i *ngIf="true">*</i>
      </label>
      <input type="text" name="name" class="form-control" placeholder="appointment type name.." [(ngModel)]="addEditType.name"
      />
    </div>
    <div class="form-group">
      <label for="description" class="">Description</label>
      <input type="text" name="description" class="form-control" placeholder="appointment type description.." [(ngModel)]="addEditType.description"
      />
    </div>

    <div class="col-md-12">
      <button type="submit" (click)="saveAppointmentType()" class="btn btn-success">Save</button> &nbsp;
      <button type="reset" (click)="c(); addEditType = {}" class="btn btn-danger">Cancel</button>
    </div>
  </div>

</ng-template>
