.register {
    width: 100%;
    .register-container {
        form {
            display: block;
            margin: auto;
            background: #fff;
            border-radius: 4px;
            p {
                margin-bottom: 5px;
            }
            .form-group {
                min-height: 85px;
                margin-bottom: 5px;
                .form-control {
                    border-radius: 0;
                    height: 40px;
                }
                i {
                    color: red;
                }
                label {}
                .error-message {
                    color: red;
                    a{
                        color: #40a4df
                    }
                }
            }
            button {
                background: #40a4df;
                border-radius: 0;
                border: 0;
                padding: 10px 24px;
                color: #fff;
                transition: 0.4s;
            }
        }
    }
}

form {
    .btn {
        margin-bottom: 10px;
    }
}

.forget-password {
    display: inline-block;
    margin-bottom: 10px;
}