.register {
    width: 100%;
    .register-container {
        form {
            display: block;
            margin: auto;
            background: #fff;
            border-radius: 4px;
            p {
                font-size: 13px;
                margin: 10px 0;
            }
            .form-group {
                min-height: 85px;
                margin-bottom: 5px;
                .form-control {
                    border-radius: 0;
                    height: 40px;
                }
                i {
                    color: red;
                }
                label {}
                .error-message {
                    color: red;
                    a {
                        color: #40a4df
                    }
                }
            }
            button {
                background: #40a4df;
                border-radius: 0;
                border: 0;
                padding: 8px 24px;
                color: #fff;
                transition: 0.4s;
            }
        }
        .ui-galleria.ui-widget.ui-widget-content {
            height: 250px !important;
            margin: auto;
            .ui-galleria-panel-wrapper {
                height: 100% !important;
                width: 100% !important;
                >li {
                    height: 100% !important;
                    img {
                        height: 100% !important;
                        object-fit: cover;
                    }
                }
            }
            .ui-galleria-filmstrip-wrapper {
                position: absolute;
                bottom: 0;
                left: 25px;
            }
        }
    }
}

form {
    .btn {
        margin-bottom: 10px;
    }
}

.forget-password {
    display: inline-block;
    margin-bottom: 10px;
}

.ui-steps .ui-steps-item {
    width: 50% !important;
}