<h5>{{appointment.user == null ? appointment.fullName : appointment.user.firstName}}</h5>
<h5>Date: {{mappedAppointment?.date | date}}</h5>
<h5>Time: {{mappedAppointment?.time}}</h5>
<h5>Status: {{mappedAppointment?.status.text}}</h5>
<div>
    <label>
    <input type="radio" name="appointmentStatus" [checked]="mappedAppointment.status.id == appointmentStatusEnum.Pending" 
      (click)="changeAppointmentStatus(appointmentStatusEnum.Pending)"/>Pending
  </label>
    <label>
    <input type="radio" name="appointmentStatus" [checked]="mappedAppointment.status.id == appointmentStatusEnum.Confirmed" 
      (click)="changeAppointmentStatus(appointmentStatusEnum.Confirmed)"/>Confirm
  </label>
    <label>
    <input type="radio" name="appointmentStatus" [checked]="mappedAppointment.status.id == appointmentStatusEnum.NotAvailable" 
    (click)="changeAppointmentStatus(appointmentStatusEnum.NotAvailable)"/>Not available
  </label>
    <label>
    <input type="radio" name="appointmentStatus" [checked]="mappedAppointment.status.id == appointmentStatusEnum.Rejected" 
    (click)="changeAppointmentStatus(appointmentStatusEnum.Rejected)"/>Reject
  </label>
</div>
<br/>
<h4>Assignees:
    <span *ngFor="let assignee of mappedAppointment.assignees">{{assignee.technician.firstName}} <span (click)="removeAssignee(assignee)">x</span>, </span>
</h4>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Appointments That Day</th>
        <th>Assign</th>
    </thead>
    <tbody>
        <tr *ngFor="let tech of mappedTechnicians">
            <td>{{tech?.technician.firstName}}</td>
            <td>{{tech?.technician.email}}</td>
            <td>
                <p><span class="appointemt-status" [ngClass]="tech?.status.color"></span><span>{{tech?.status.text}}</span></p>
            </td>
            <td>
                <ng-container>
                    <span *ngFor="let appoint of tech.appointments">{{appoint?.time}}</span>
                </ng-container>
                <span *ngIf="tech.appointments.length == 0">no appointments</span>
            </td>
            <td>
                <button class="btn btn-primary filters-toggle-btn" (click)="assign(tech)">Assign</button>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary filters-toggle-btn" (click)="save()">Save</button>