<loader *ngIf="loading">
</loader>

<ng-container *ngIf="!loading">

    <div class="row header">
        <h3 class="col-sm-6">System Users</h3>

        <div class="col-sm-6">

            <button class="btn btn-primary add-user-btn" (click)="addUser(register)">
                <i class="fa fa-plus"></i> Add New User</button>
        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <th>Name</th>
                <th>User Type</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Creation Date</th>
                <th>Status</th>
                <th>Activation Date</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td>{{user.firstName + ' ' + user.lastName}}</td>
                    <td>{{user.rolesString}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.creationDate | date}}</td>
                    <td>{{user.isActivated ? 'Activated' : 'Deactivated'}}</td>
                    <td>{{user.activationDate == null ? 'not activated yet' : user.activationDate | date }}</td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-sm filters-toggle-btn" (click)="editUser(user, register, i)" placement="top" ngbTooltip="Edit User">
                            <i class="fa fa-pencil-square-o"></i>
                        </button>
                        <button class="btn btn-primary btn-sm filters-toggle-btn" (click)="changeUserPassword(user, changeUserPasswordTemplate)"
                            placement="top" ngbTooltip="Change Password">
                            <i class="fa fa-lock"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-danger btn-sm filters-toggle-btn" (click)="deleteUser(user)" placement="left" ngbTooltip="Delete User">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</ng-container>

<ng-template #register let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{modalHeaderTxt}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <rb-registeration [mode]="registrationMode" [user]="clonedEditedUser" (userAdded)="userAdded($event)"></rb-registeration>
    </div>
</ng-template>

<ng-template #changeUserPasswordTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <rb-admin-change-password [user]="clonedEditedUser" (passwordChanged)="passwordChanged($event)"></rb-admin-change-password>
    </div>
</ng-template>