.btn-link-delete {
    color: red !important;
}

.btn-link-edit {
    color: #007bff !important;
}

.btn-link:hover {
    text-decoration: underline !important;
}

.header{
    margin-bottom: 20px;
}

.add-user-btn{
    float: right;
}