.filters-container {
    background-color: #f6f6f6;
    padding: 20px;
    margin-top: 15px;
}

.filters-toggle-btn {
    background: #40a4df;
    border-color: #40a4df;
    border-radius: 0;
    outline: none;
    i {
        margin-right: 5px;
    }
}

:host ::ng-deep .dropdown-menu {
    display: inherit !important;
}

.add-call {
    float: right;
}

.header {
    padding-top: 10px;
    background-color: lightgray;
    & label {
        font-size: 25px;
    }
}

.msg {
    margin-top: 10px;
}

.schedule-content {
    margin-top: 30px;
}
