.ui-inputgroup {
    margin-bottom: 15px;
}

.panel {
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 2px 10px;
    .comment-user {
        color: #40a4df;
    }
}

.panel-body {
    padding: 4px 12px;
}

.load-more {
    text-decoration: underline !important;
    margin: auto;
    display: block;
}

.ui-inputgroup {
    button {
        padding: 30px;
    }
}

// .panel>.panel-heading:after,
// .panel>.panel-heading:before {
//     position: absolute;
//     top: 11px;
//     left: -16px;
//     right: 100%;
//     width: 0;
//     height: 0;
//     display: block;
//     content: " ";
//     border-color: transparent;
//     border-style: solid solid outset;
//     pointer-events: none;
// }
// .panel>.panel-heading:after {
//     border-width: 7px;
//     border-right-color: #f7f7f7;
//     margin-top: 1px;
//     margin-left: 2px;
// }
// .panel>.panel-heading:before {
//     border-right-color: #ddd;
//     border-width: 8px;
// }