<div class="ui-inputgroup">
    <textarea type="text" class="form-control" pInputText placeholder="Write Your Comment..." [(ngModel)]="newComment" (keyup.enter)="addComment()"></textarea>
    <button pButton type="button" icon="fa fa-check" class="ui-button-secondary" [disabled]="!newComment" (click)="addComment()"></button>
</div>

<div class="row" *ngFor="let comment of comments">
    <span class="col-4">{{comment.userFullName}}:</span>
    <p>{{comment.text}}</p>
</div>

<a *ngIf="totalCount > comments.length" class="btn btn-link" (click)="loadMore()">load more...</a>