:host ::ng-deep{

    .ui-steps .ui-steps-item {
        width: 35%;
    }
    
    .ui-steps.steps-custom {
        margin-bottom: 75px;
        margin-top: 10px;
    }
    
    .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
        height: 10px;
        padding: 0 1em;
    }

    .ui-steps.steps-custom .ui-state-default{
        background-color: #b3b1b1 !important;
        border: 0 !important;
    }
    
    .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
        background-color: #0081c2;
        color: #FFFFFF;
        display: inline-block;
        width: 50px;
        border-radius: 50%;
        margin-top: -17px;
        margin-bottom: 2px;
    }
    
    .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
        color: #555555;
    }

    .ui-button .ui-button-text {
        line-height: 1.8 !important;
    }
}

.photos-sec .btn.btn-danger{
    margin-top: 9px;
}

textarea {
    height: 130px !important;
}

.btns-block{
    display: flex !important;
    margin-top: 6px;
}

.validation-text{
    color: red;
}