:host ::ng-deep .password-input-group {
  .popover-body {
    background-color: black;
  }
  .arrow:after {
    border-top-color: black !important;
  }
}


.passwordInfoPopover {
    p,
    li {
        color: white;
    }
  }
