<section class="register">
    <div class="register-container">
        <div class="container">
            <form [formGroup]="form" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="oldPassword" class="">Old Password
                <i *ngIf="form.get('oldPassword').hasError('required')">*</i>
              </label>
                            <input type="password" name="oldPassword" class="form-control" formControlName="oldPassword" [(ngModel)]="changePassword.oldPassword" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="newPassword" class="">New Password
                <i *ngIf="form.get('newPassword').hasError('required')">*</i>
              </label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0 password-input-group">
                                <input type="password" name="newPassword" class="form-control" formControlName="newPassword" [(ngModel)]="changePassword.newPassword" [ngbPopover]="passwordValidationTemplate" triggers="manual" #passwordPopover="ngbPopover" />
                                <div class="input-group-addon" (click)="passwordPopover.toggle()">
                                    <span class="fa fa-info-circle"></span>
                                </div>
                            </div>
                            <span class="error-message" *ngIf="trySubmit && form.get('newPassword').hasError('pattern')">Password invalid</span>
                        </div>
                    </div>

                    <ng-template #passwordValidationTemplate>
                        <div class="passwordInfoPopover">
                            <ul>
                                <li>Between six 6 and 32 characters in length</li>
                                <li>one upper case English letter</li>
                                <li>one lower case English letter</li>
                                <li>Must contain at least one number and/or one special character (e.g. @,#,$,%, etc.) excluding spaces</li>
                            </ul>
                        </div>
                    </ng-template>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="confirmNewPassword" class="">Confirm New Password
                <i *ngIf="form.get('confirmNewPassword').hasError('required')">*</i>
              </label>
                            <input type="password" name="confirmNewPassword" class="form-control" formControlName="confirmNewPassword" [(ngModel)]="changePassword.confirmNewPassword" />
                            <span class="error-message" *ngIf="trySubmit && form.get('confirmNewPassword').hasError('matchOther')">Passwords are not the same</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success fullWidth" (click)="save()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>