.blueColor {
    color: $accent-color !important;
}

.redColor {
    color: $red-color !important;
}

.fullWidth {
    width: 100%;
}

// display
.flex {
    display: flex;
}

.mrgr5 {
    margin-right: 5px;
}