// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

@media (max-width: 1024px) {
    .navbar .navbar-collapse .navbar-nav li {
        font-size: 12px;
        margin: 0;
    }
    .navbar .navbar-collapse .navbar-nav li a {
        padding: 1.5rem 0.5rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    #testimonials .profile .pic {
        width: inherit;
        height: inherit;
    }
    #home {
        height: 76vh;
    }
    .navbar .navbar-collapse .navbar-nav li a {
        padding: 0.5rem 0.5rem;
    }
}

@media (max-width: 576px) {
    ngb-datepicker-month-view {
        .d-flex {
            font-size: 12px;
        }
    }
    ngb-datepicker {
        font-size: 12px;
        width: 100%;
        >.ngb-dp-months {
            display: block !important;
            &:last-child {
                margin-left: 0 !important;
                .ngb-dp-month.d-block.ml-3 {
                    &:last-child {
                        margin-left: 0 !important;
                    }
                }
            }
        }
        .ngb-dp-header .btn-link {
            &:last-child {
                position: absolute;
                bottom: 41%;
                right: 15px;
            }
        }
    }
    .ngb-dp-day {
        width: 15% !important;
        height: 26px !important;
        .custom-day {
            width: 100% !important;
            height: 26px !important;
        }
    }
    .ngb-dp-day,
    .ngb-dp-weekday,
    .ngb-dp-week-number {
        width: 15% !important;
        height: 26px !important;
    }
    .ngb-dp-header {
        height: 2.25rem !important;
        margin-bottom: -2rem !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}