// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

@media (max-width: 1024px) {
    .navbar .navbar-collapse .navbar-nav li {
        font-size: 12px;
        margin: 0;
    }
    .navbar .navbar-collapse .navbar-nav li a {
        padding: 1.5rem 0.5rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    #testimonials .profile .pic {
        width: inherit;
        height: inherit;
    }
    #home {
        height: 76vh;
    }
    .navbar .navbar-collapse .navbar-nav li a {
        padding: 0.5rem 0.5rem;
    }
}

@media (max-width: 576px) {
    ngb-datepicker-month-view {
        .d-flex {
            font-size: 12px;
        }
    }
    ngb-datepicker {
        font-size: 12px;
    }
    .ngb-dp-day {
        width: 24px !important;
        height: 24px !important;
        .custom-day {
            width: 24px !important;
            height: 24px !important;
        }
    }
    .ngb-dp-day,
    .ngb-dp-weekday,
    .ngb-dp-week-number {
        width: 24px !important;
        height: 24px !important;
    }
    .ngb-dp-header {
        height: 2.25rem !important;
        margin-bottom: -2rem !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}