@import url('https://fonts.googleapis.com/css?family=Raleway');
/// Default color variables
$accent-color: #40a4df;
$red-color: red;
$heading-color: #333333;
$text-color: #666666;
/// Fonts Variables
$accent-font: 'Raleway',
sans-serif;
$heading-font: 'Raleway',
sans-serif;
$text-font: 'Raleway',
sans-serif;