<div id="preloader"></div>
<!--==========================
Header Section
============================-->

<!-- #header -->
<!--==========================
Hero Section
============================-->
<section id="home">
    <div class="hero-container">
        <div class="wow fadeIn">
            <div class="hero-logo">
                <h1 _ngcontent-c1="">Welcome To
                    <span class="blueColor">Reliable Plumbing</span>
                </h1>
            </div>
            <h2>We offer
                <span class="rotating">Plumbing, Drain Cleaning, Lining Services, Backflow Services</span>
            </h2>
            <div class="actions" *ngIf="!checkSystemUser()">
                <a *ngIf="!isSystemUser" [routerLink]="systemRoutes.scheduleCall" class="btn-get-started pointer">Schedule
                    a Call</a>
                <a *ngIf="!isSystemUser" [routerLink]="systemRoutes.requestQuote" class="btn-get-started pointer">Request
                    a Quote</a>
            </div>
        </div>
    </div>
</section>

<!--==========================
Services Section
============================-->
<section id="services">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Our Services</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">We oﬀer a wide range of plumbing services. With over 25 years of experience, our team of technicians are certiﬁed experts in ALL services we oﬀer.
                </p>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <h2>AREAS OF EXPERTISE</h2>
        </div>
        <div class="row">

            <div class="col-md-6 col-xs-12">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <h4 class="service-title">
                        <a href="">Plumbing</a>
                    </h4>
                    <p class="service-description">
                        Plumbing Installations and Repairs, Plumbing Inspections, Gas-Leaks, Slab Leaks, Water Heaters, Earthquake Safety, and much more.
                    </p>
                    <div class="text-right">
                        <a class="btn btn-default learn-more-btn" href="#contact">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <h4 class="service-title">
                        <a href="">Drain Cleaning</a>
                    </h4>
                    <p class="service-description">
                        Drain Cleaning, Hydro Jetting, Sewer Camera inspections, Drain Repairs, and Preventive maintenance.
                    </p>
                    <div class="text-right">
                        <a class="btn btn-default learn-more-btn" href="#contact">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <h4 class="service-title">
                        <a href="">Lining Services</a>
                    </h4>
                    <p class="service-description">
                        Injection Cast Epoxy Spray, CIPP Sewer Lining, and Pipe Busting Trenchless Technology.
                    </p>
                    <div class="text-right">
                        <a class="btn btn-default learn-more-btn" href="#contact">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <h4 class="service-title">
                        <a href="">Backflow Services</a>
                    </h4>
                    <p class="service-description">
                        Backﬂow Instalation, Backﬂow Testing and Certiﬁcation.
                    </p>
                    <div class="text-right">
                        <a class="btn btn-default learn-more-btn">Contact Us</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!--==========================
About Section
============================-->
<section id="about">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">We are What We Beleive</h3>
                <div class="section-title-divider"></div>
                <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p> -->
            </div>
        </div>
    </div>
    <div class="container about-container wow fadeInUp">
        <div class="row">
            <div class="col-md-12 about-content">
                <p class="about-text">
                    Years ago, when i first moved into my new home, i noticed that my basement had a water leak, After investigating the issue and concludiong that i could not fix it, i decided to call a professional. so, i called a local plumbing company.
                </p>
                <p class="about-text">
                    I waited for a few days for the plumber to arrive, After days of vigilance and emptying buchets of water, the plumber came. finally, i began to feel some relief. The plumber looked, analyzed, and wrote on his notepad. after minutes of uncertainty and
                    me biting my nails in nervousness, he provided me a diagnosis. He began to explain the issue and root problem that caused the leak. listening to hom take me on a journey of pipes, clogs, and flows evaporated the sense of relief if
                    felt. He then provided me his estimate, which i remember feeling like my eyeballs popping out my sockets.
                </p>
                <p class="about-text">
                    At the time my experience in solving plumbing problems was above avarage. Unknowing to the plumber, I was in the last quarter of my formal Plumber Technician training, so i had an understanding of what the issue was. I could not fix the water leak myself
                    because i lacked the proper tools and wanted to get an expert opinion, i thanked him for his time and let him know that i wanted a second opinion. Without any hesitation, he replied, "there is still an emergency fee to pay." Despite
                    my objection, I paid the fee.
                </p>
                <p class="about-text">
                    This experience left me feeling more vulnerable than when i first called. I was fortunate to be in a position of recognizing the up-sale of services and costs. However, I was bothered by something else. The thought that people whe did not have much plumbing
                    knowledge could be taken advantage in a moment of vulnerability. This thoughts led me to the belief that plumbing was MORE than fixing pipes and flows: <span>It's about people!</span> I knew at this point in my
                    life that my purpose was to go out and build a plumbing company that would put people fisrt.
                </p>
                <p class="about-text">
                    I founded Reliable Plumbing with the <span>belief that we are in the business to help people.</span> Here at Reliable Plumbing, we are a team of people that value human-centered problem-solving. We are aware that our services are more
                    than plumbing, they are about helping people and building communities. Our <b>MISSION</b> and <b>VALUES</b> formulate a human-centered focus. We <b>AIM</b> and <b>PROMISE</b> to provide relief, security, and more importantly trust
                    with the people who call upon us for help. We <span>value complete transparency</span> in every transaction between our clients and us. We <span>appreciate and operate with honesty</span> and <span>commitment to the community</span>                    we serve. All of our team members from field technicians to office personnel continue nurturing in our human-centered approach. let me reassure you that <span>our team members have pledged to embrace</span> this <b>MISSION</b> and
                    are undoubtedly an extension of our <b>VALUES</b>.
                </p>
                <p class="about-text">
                    We work hard every day to make sure that none of our clients ever experience what i experienced the day i called that local plumbing company. As <b>FOUNDER</b> of <span>Reliable Plumbing & Drain Cleaning Inc,</span> I give you my word,
                    when you call on us, you call a friend.
                </p>
                <p class="about-text">
                    best Wishes, <br> Gilberto Tagle <br> Founder / Owner
                </p>
            </div>
        </div>
    </div>
</section>

<!--==========================
Subscrbe Section
============================-->
<section id="subscribe">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <h3 class="subscribe-title">Subscribe For Updates</h3>
                <p class="subscribe-text">Subscribe now to know more about our services and offers!</p>
            </div>
            <div class="col-md-4 subscribe-btn-container">
                <a class="subscribe-btn" href="#">Subscribe Now</a>
            </div>
        </div>
    </div>
</section>

<!--==========================
Contact Section
============================-->
<section id="contact">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Contact Us</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Contact us now by filling this form
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>P.O Box 6561
                            <br>Chula Vista, CA 91909</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>info@SdReliablePlumbing.com</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>619.271.1477</p>
                    </div>
                    <div>
                        <i class="fa fa-fax" aria-hidden="true"></i>
                        <p>619.869.8212</p>
                    </div>

                </div>
            </div>

            <div class="col-md-8">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>


<a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
</a>