.btn.google-btn {
    display: inline-block;
    background-color: #ea4335 !important;
    color: #fff !important;
    border-radius: 0;
    font-size: 13px;
    i {
        margin-right: 5px;
    }
    &:hover {
        opacity: 0.9
    }
}

.btn.facebook-btn {
    display: inline-block;
    background-color: #3b5998 !important;
    color: #fff !important;
    border-radius: 0;
    font-size: 13px;
    i {
        margin-right: 5px;
    }
    &:hover {
        opacity: 0.9
    }
}

.tag {
    background: #025aa5;
    color: #fff;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 5px;
    padding-right: 20px;
    position: relative;
    span {
        font-size: 12px;
        cursor: pointer;
        position: absolute;
        right: 6px;
        top: 3px;
        display: inline-block;
    }
}

.status-btns-group {
    label {
        margin-right: 0 !important;
    }
    input {
        margin-right: 5px;
    }
}

.ui-button.ui-fileupload-choose {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
}

.btn.btn-danger {
    background: #c82333 !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}

.btn-link {
    color: #007bff !important
}