.filters {
    margin: 10px 10px 10px 0;
}

:host::ng-deep {
    .ui-multiselect {
        width: 100%;
        height: 100%;
        .ui-multiselect-label-container {
            text-align: center;
            .ui-multiselect-label {
                padding: .55em 2em 0 .25em
            }
        }
    }
    .ui-calendar {
        width: 100%;
        height: 100%;
        .ui-inputtext {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 16px;
        }
    }
}

.ui-inputgroup {
    margin-top: 10px;
    .customer-name {
        width: 100%;
    }
}

.call-details {
    padding: 25px;
}

// filters inputs
.filters {
    input {
        border-radius: 0 !important;
    }
    .ui-inputgroup {
        margin-top: 0;
    }
}